body.book-background {
    background: transparent top left no-repeat;
}

body.book-background-foretcanada2 {
    background-image: url('../background/foretcanada.jpg') !important;
}

body.book-background-montagnes {
    background-image: url('../background/montagnes.jpg') !important;
}

.user-password-lost {
    background-image: url('../images/passlost.png') !important;
}

.book-conditions .x-panel-body, .book-help .x-panel-body {
    padding: 20px;
}
.book-conditions-ok {
    background-image: url('../images/form.png') !important;
}
.book-conditions-no {
    background-image: url('../images/nobig.png') !important;
}
.book-conditions-form {
    background-image: url('../images/form.png') !important;
}
.book-conditions h1, .book-help h1 {
    font-size: 140%;
    padding: 10px;
    padding-top: 0;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
}

.book-conditions p, .book-conditions li, .book-help {
    text-align: justify;
}

.book-conditions p strong.form-not-resent {
    color: red;
    font-weight: bold;
}

.book-conditions p strong.form-not-resent a {
    color: inherit !important;
}

.book-conditions p, .book-help p {
    margin: 5px 0;
}

.book-conditions ol, .book-help ol {
    list-style-type: decimal;
    margin: 0 0 10px 30px;
}

.book-conditions blockquote {
    font-style: italic;
    border-top: 1px solid #CCCCCC;
    padding: 15px 10px 35px 150px;
    margin: 20px 0 0 0;
    background: url('../images/signature.png') transparent bottom left no-repeat;
}

.book-conditions ul {
    list-style-type: disc;
    margin: 0 0 0 30px;
}

.book-help ul {
    list-style-type: disc;
    margin: 0 0 10px 30px;
}

.book-help strong {
    font-weight: bold;
}

.book-help em {
    font-style: italic;
}


.book-combo-disable {
    cursor: text;
    background: none;
    border: 0;
    padding-left: 0;
}

.book-thumb {
    height: 80px;
    width: 60px;
    padding: 1px;
    border: 1px solid #CCCCCC;
}

.book-thumb-big {
    width: 260px;
    height: 400px;
    padding: 1px;
    border: 1px solid #CCCCCC;
}

.book-search-go {
    background-image: url('../images/loupe.png') !important;
}

.book-thumb-small {
    background-image: url('../images/thumb.png') !important;
}

.book-save {
    background-image: url('../images/save.png') !important;
}

.book-apply {
    background-image: url('../images/apply.png') !important;
}

.book-window-close {
    background-image: url('../images/close.png') !important;
}

.book-search-undo {
    background-image: url('../images/loupe-croix.png') !important;
}

.book-import {
    background-image: url('../images/import.png') !important;
}

.book-import-small {
    background-image: url('../images/importsmall.png') !important;
}

.book-add {
    background-image: url('../images/add.png') !important;
}

.book-info {
    background-image: url('../images/info.png') !important;
}

.book-info-small {
    background-image: url('../images/infosmall.png') !important;
}

.book-delete {
    background-image: url('../images/delete.png') !important;
}

.book-main {
    background-image: url('../images/book.png') !important;
}

.book-connect {
    background-image: url('../images/lock.png') !important;
}

.book-deconnect {
    background-image: url('../images/unlock.png') !important;
}

.book-relation-add, .book-add-small {
    background-image: url('../images/addsmall.png') !important;
}

.book-relation-remove {
    background-image: url('../images/deletesmall.png') !important;
}

.book-relation-edit {
    background-image: url('../images/edit.png') !important;
}

.book-delete-small {
    background-image: url('../images/deletesmall.png') !important;
}

.user-profile {
    background-image: url('../images/profile.png') !important;
}

.book-item-id {
    border: 0;
    background: none !important;
}

.book-download {
    background-image: url('../images/download.png') !important;
}

.book-print {
    background-image: url('../images/printer.png') !important;
}

.book-download-small {
    background-image: url('../images/downloadsmall.png') !important;
}

.book-filter {
    background-image: url('../images/filter.png') !important;
}

.book-filter-undo {
    background-image: url('../images/filterundo.png') !important;
}

.book-export-csv {
    background-image: url('../images/csv.png') !important;
}

.book-search-import {
    background-image: url('../images/searchimport.png') !important;
}

.book-user-type {
    background-image: url('../images/star.png') !important;
}

.book-user-deficiency {
    background-image: url('../images/handicap.png') !important;
}

.book-user-sendpass {
    background-image: url('../images/passlostsmall.png') !important;
    height: 16px;
}

.book-user-form {
    background-image: url('../images/form-signed.png') !important;
    height: 16px;
    width: 13px;
}

.book-user-form-no {
    background-image: url('../images/form-signed-gray.png') !important;
    height: 16px;
    width: 13px;
}

.window-wait-debug .x-window-body {
    text-align: center;
}

.book-user-sendpass-off {
    background-image: url('../images/passlostsmall-off.png') !important;
    height: 16px;
}

.book-new-check-true {
    color: #009900 !important;
}

.book-new-check-false {
    color: #990000 !important;
}

.book-menu-title {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    padding: 7px 10px 7px 25px;
    font-weight: bold;
}

.book-user {
    background-image: url('../images/user-add.png') !important;
}

.book-refresh {
    background-image: url('../images/refresh.png') !important;
}

.x-grid3-cell-inner {
    white-space: normal;
}

.book-grid .x-grid3-cell-inner {
    font-size: 1.2em;
}

.user-password-panel strong {
    font-weight: bold;
}
.user-password-panel {
    text-align: justify;
}



.progressbar {
    width: 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 5px;
    font-size: 10px;
    background: url('../images/progress-bg.gif') transparent left center repeat-x;
}

.uploadButton {
    padding-top: 5px;
    cursor: pointer;
}


.background-cls {
    background-image: url('../images/background.png') !important;
}

.backgrounds .thumb-wrap{
    float: left;
    text-align: center;
    padding: 6px;
}

.backgrounds .x-view-over{
    padding: 0px;
    border: 6px solid #aaf;
    background-color: #aaf;
}

.backgrounds .x-view-selected{
    padding: 0px;
    border: 6px solid #fc0;
    background-color: #fe9;
}