body {
    background: url('../background/foretcanada.jpg') transparent top left no-repeat;
}

.book-conditions .x-panel-body {
    padding: 20px;
}
.book-conditions-ok {
    background-image: url('../images/okbig.png') !important;
}
.book-conditions-no {
    background-image: url('../images/nobig.png') !important;
}
.book-conditions h1 {
    font-size: 140%;
    padding: 10px;
    padding-top: 0;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
}

.book-conditions p, .book-conditions li {
    text-align: justify;
}

.book-conditions p {
    margin: 5px 0;
}

.book-conditions ol {
    list-style-type: decimal;
    margin: 0 0 10px 30px;
}

.book-conditions blockquote {
    font-style: italic;
    border-top: 1px solid #CCCCCC;
    padding: 10px 10px 30px 150px;
    margin: 20px 0 0 0;
    background: url('../images/signature.png') transparent bottom left no-repeat;
}

.book-conditions ul {
    list-style-type: disc;
    margin: 0 0 0 30px;
}


.book-combo-disable {
    cursor: text;
    background: none;
    border: 0;
    padding-left: 0;
}

.book-thumb {
    height: 80px;
    width: 60px;
    padding: 1px;
    border: 1px solid #CCCCCC;
}

.book-thumb-big {
    width: 260px;
    height: 400px;
    padding: 1px;
    border: 1px solid #CCCCCC;
}

.book-search-go {
    background-image: url('../images/loupe.png') !important;
}

.book-save {
    background-image: url('../images/save.png') !important;
}

.book-window-close {
    background-image: url('../images/close.png') !important;
}

.book-search-undo {
    background-image: url('../images/loupe-croix.png') !important;
}

.book-import {
    background-image: url('../images/import.png') !important;
}

.book-add {
    background-image: url('../images/add.png') !important;
}

.book-info {
    background-image: url('../images/info.png') !important;
}

.book-info-small {
    background-image: url('../images/infosmall.png') !important;
}

.book-delete {
    background-image: url('../images/delete.png') !important;
}

.book-main {
    background-image: url('../images/book.png') !important;
}

.book-connect {
    background-image: url('../images/lock.png') !important;
}

.book-deconnect {
    background-image: url('../images/unlock.png') !important;
}

.book-relation-add, .book-add-small {
    background-image: url('../images/addsmall.png') !important;
}

.book-relation-remove {
    background-image: url('../images/deletesmall.png') !important;
}

.book-relation-edit {
    background-image: url('../images/edit.png') !important;
}

.book-delete-small {
    background-image: url('../images/deletesmall.png') !important;
}

.book-item-id {
    border: 0;
    background: none !important;
}

.book-download {
    background-image: url('../images/download.png') !important;
}

.book-download-small {
    background-image: url('../images/downloadsmall.png') !important;
}

.book-filter {
    background-image: url('../images/filter.png') !important;
}

.book-filter-undo {
    background-image: url('../images/filterundo.png') !important;
}

.book-menu-title {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    padding: 7px 10px 7px 25px;
    font-weight: bold;
}

.book-user {
    background-image: url('../images/user-add.png') !important;
}

.x-grid3-cell-inner {
    white-space: normal;
}